// responsive breakpoints
$MQNarrow: 959px;
$MQMobile: 719px;
$MQMobileNarrow: 419px;

$font-family-main: "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-light: "open sans", Arial, sans-serif;
$font-family-main: "Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family-title: PingFangSC-Semibold, Arial, Sans-serif;

$family-title: $font-family-light;
$family-primary: $font-family-main;
$gap:16px;
$light-blue: rgba(54,130,222,1);

$common-color:#007AFF;
$family-primary: $font-family-main;